.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 500px;
    min-height: 500px;

}
.p-button {
    min-width: 300px;
    margin: 20px !important;
}